.button{
    background: #D9FF00;
    border: none;
    font-weight: 700;
    cursor: pointer;
    width: fit-content;
    border-radius: 56px;
}

.button:hover{
    background: #a9bb07;
    transition: 0.3s;
}

.small{
    padding: 13px 44px;
    line-height: 45px;
    font-size: 32px;}

.large{
    padding: 11px 110px;
    line-height: 89px;
    font-size: 64px;
}

@media screen and (max-width: 640px) {
   .large{
    padding: 10px 30px;

    font-size:35px;
    width: 100%;
   }
    
}