.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
}
 
.glass {
  display: flex;
  flex-direction: column;
  width: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(12px); 
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 3px solid white;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;

}


.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

}
.logo{
    display: flex;
    font-size: 32px;
    flex-basis: 312px;
    justify-content: space-between;
    font-weight: normal;
    font-family: "Inter";
}

.logo a{
    text-decoration: none;
    color: white;
}

.name{
    font-size: 64px;
    white-space: nowrap;
    margin: 0 30px;
}

 
.text{
    text-align: center;
    font-size: 24px;
    margin-top: 65px;
}
 

.modal_buttons{
    display: flex;
    column-gap: 20px;
    justify-content: center;
}


.rounds{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    flex-direction: column;
    font-size: 24px;
    row-gap: 8px
    
}

.logo_bottom{
    display: none;
}

.mint{
    max-width: 100% !important;
}

.button_group{
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 52px;
    max-width: 800px;
}

.mint{
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    .logo{
        display: none;
    }

    .logo_bottom{
        display: flex;
        font-size: 32px;
        justify-content: space-between;
        margin-top: 45px;padding: 0px 20px;
        font-weight: normal;
    }

    .name{
        font-size: 36px;
    }
}

@media screen and (max-width: 640px) {
    .container{
        padding: 10px;
    }

   .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
   }

   .name{
    margin: 15px 0px;
    font-size: 40px;
   }

   

   .rounds{
    font-size: 22px;
   }

   .name{
    font-size: 24px;
   }

   .button_group{
    flex-direction: column;
    row-gap: 20px;
    max-width: 230px;
   }

   .glass{
    padding: 15px;
   }
    
}