.wrapper{
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
    padding: 15px;
}


.content{
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeInScale 0.3s ease-in-out;
}

.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}